@use "../../STYLES/colors.scss";
@use "../../STYLES/global.scss";
@use "../../STYLES/mixin.scss";
@use 'reset-css';


.tempb {
    font-family: lexend;
    background-color: #CDDCDC;
    background-image:
        radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    background-blend-mode: screen, overlay;

    &__header {
        border-radius: 0.5rem;
        background: rgb(26, 9, 121);
        background: radial-gradient(circle, rgba(26, 9, 121, 1) 30%, colors.$col-violet 60%, rgba(2, 0, 36, 1) 90%);
        padding-bottom: 10rem;
        



        h1 {
            font-size: 3em;
            font-weight: bold;
            color: white;
            text-align: center;
            padding-top: 8rem;
            padding-bottom: 0.5rem;

        }

        h2 {
            font-size: 1.5em;
            color: white;
            text-align: center;
            padding: 0.5rem;

        }
    }

    &__main {
        width: 100%;
        /* dlhjlhjldjhldjhlkdjklh */
        margin: auto;
        /* gsdgsgs */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3rem;

        @include mixin.tablet {
            position: absolute;
            top: 22.5rem;
        }

        @include mixin.laptop {
            top: 17rem;
            
        }


        &__card {

            padding: 1rem;
            width: 15rem;
            border-radius: 0.5rem;
            background: linear-gradient(145deg, #e6e6e6, #ffffff);
            box-shadow: 0.5rem 0.7rem 0.5rem #666666,
                0.5rem 0.7rem 0.5rem #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;


            h3 {
                color: colors.$col-violet;
                font-weight: bold;
                font-size: 1.2em;
                padding: 1rem;
            }

            h4 {
                padding: 0.5rem;
                font-size: 2em;
                font-weight: bolder;
            }

            p {
                padding: 0.5rem;
            }

            ul {
                padding: 0.5rem;

                li {
                    padding: 0.5rem;

                }
            }

            .feather {
                width: 1em;
                height: 1em;
                stroke: colors.$col-violet;
                stroke-width: 5;
                stroke-linecap: round;
                stroke-linejoin: round;
                fill: none;
            }

            button {
                display: block;
                padding: 1rem;
                border: transparent;
                border-radius: 0.5rem;
                background-color: colors.$col-violet;
                box-shadow: 3px 3px 0.5rem #270066,
                    -1px -1px 0.5rem #9d00ff;
                color: white;
                font-weight: bold;
                margin: auto;
                width: 90%;

                &:hover {
                    box-shadow: inset 5px 5px 10px #4000a6,
                        inset -5px -5px 10px #8400ff;
                }

            }
        }
    }

    footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        margin: auto;
        text-align: center;

        @include mixin.tablet {
            padding-top: 20rem;
        }

        @include mixin.workM {
            padding-top: 27rem;
        }


    }
}