@use "./colors.scss";

.accueil {
    background: colors.$col-papier-old, url(../MEDIA/texturepapier.webp);
    background-blend-mode: overlay;
    font-family: special;
    font-weight: bold;

    strong {
        display: inline-block;
        color: red;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0.25rem;
        border: red solid 0.25rem;
        border-radius: 10%;
        transform: rotate(33deg)
    }

    header {

        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        border: 0.2rem colors.$col-black-old solid;
        margin: 0.5rem;
        margin-top: 0;

        h1 {
            text-transform: uppercase;
            font-size: 1.5em;

        }

        img {
            width: 5rem;
        }

    }


    main {


        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        border: 0.2rem colors.$col-black-old solid;
        margin: 0.5rem;

    }

    summary {
        font-size: 1.5em;
        margin: 1rem;

    }




}