@use "./colors.scss";


.ariane {

    
    margin-top: 0.5rem;
    margin: auto
    
    


    ol {

    }

    li {
        display: inline;
        
        
        a{
           color: black; 
            
        }
        

    }

    [aria-current="page"] {
        color: white;
        background-color: colors.$col-black-old;
        padding: 0.5em;
        font-weight: bolder;
        
        
    }

    li+li::before {
        display: inline-block;
        font-size: 1.5em;
        font-weight:bold;
        content: ">";
    }
    .feather {
        width: 1.2em;
        height: 0.9em;
        stroke: white;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill:none;
      }

}