
$col-papier:linear-gradient(to bottom,rgba(0,0,0,.6) 0%,rgba(0,0,0,.6) 100%) ;

$col-papier-old:linear-gradient(to bottom,rgba(0,0,0,.4) 0%,transparent 180px),linear-gradient(to right,transparent 50%,rgba(0,0,0,.7) 100%),linear-gradient(to top,rgba(0,0,0,.4) 0%,transparent 400px) ;

$col-black-old:#1c1c1c

