@use "./colors.scss";
@use "./mixin";


.cv {
    display: flex;
    flex-direction: column;
    font-family: lexend;
    background-image: colors.$col-fond-cv;
    padding-top: 0.75rem;

    @include mixin.tablet {
        flex-direction: row;

    }

    @media print {
        padding-top : 0;
        flex-direction: row;
    }



    &__para {
        padding: 0.5rem;

        &__centre {
            text-align: center;

            figure {
                margin: 1rem;
            }
        }

        &__print {
            text-align: center;

            @media print {
                display: none;
            }

        }

        &__qr {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 3.5rem;
            width: 50%;

            @media print {
                margin-left: 4rem;
            }

        }

    }

    &__gauche {
        width: 85%;
        margin-left: 0.75rem;
        border-top: 0;
        border-left: 0;
        border-right: 0.25rem solid;
        border-bottom: 0;
        border-image-slice: 1;
        border-image-source: colors.$col-border-cv1;
        margin-bottom: 0.5rem;

        @include mixin.tablet {
            width: 40%;

        }

        @media print {
            width: 35%;
            margin-left: 0;
            margin-bottom: 0;

        }
    }

    &__photo {

        img {


            
            border-radius: 50%;
            

            @media print {
                width: 70%;
                padding-left: 2rem;;

            }

        }

        h2 {
            margin: 1rem;
            font-size: 2em;
            color: green;
        }
    }

    &__information {
        h3 {
            font-size: 1.5em;
            text-transform: uppercase;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 0.5rem solid;
            border-image-slice: 1;
            border-image-source: colors.$col-border-cv1;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        strong {

            font-weight: bold;
            margin-bottom: 0.25rem;
        }

        em {
            font-style: italic;

        }

        a {
            color: black;
            text-decoration: none;
        }
    }

    &__droite {
        width: 90%;
        margin-left: 0.5rem;
        border-top: 0;
        border-left: 0.25rem solid;
        border-right: 0;
        border-bottom: 0;
        border-image-slice: 1;
        border-image-source: colors.$col-border-cv2;
        margin-bottom: 0.5rem;

        @include mixin.tablet {
            margin-left: 0;

        }

        @media print {
            
            margin-left: 0;
            margin-bottom: 0;
        }

        h2 {
            font-size: 2em;
            font-weight: bold;
            color: green;
            text-align: center;
        }

        em {
            font-style: italic;
            text-align: center;
            display: block;
        }

        h3 {
            font-size: 1.5em;
            text-transform: uppercase;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 0.5rem solid;
            border-image-slice: 1;
            border-image-source: colors.$col-border-cv2;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        h4 {
            font-weight: bold;
        }

    }
}