@use "./colors.scss";
.footer {
   
    padding: 0.5rem;
    border: solid;
    border-image-slice: 1;
    border-width: 0.2rem;
    border-image-source:linear-gradient(145deg, #191919, #1e1e1e);
    margin: 0.5rem; 
    margin-bottom: 1rem; 

    li{
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: 0.1rem colors.$col-black-old solid;
        margin: 0.5rem; 
        text-align: center;
        font-size: 1.2em;
        a{
            text-decoration: none;
            color: black;
        }
    }
}