@use "./colors.scss";

.message{
    background:linear-gradient(145deg, #191919, #1e1e1e);
    border: solid;
    border-image-slice: 1;
    border-width: 1rem;
    border-image-source:linear-gradient(145deg, #191919, #1e1e1e);
    margin: 0.5rem;
    .text{
        color: white;
        font-size: 1.6em;
        text-align: center;

    }
}