@use "./colors.scss";

.obligation{
    background: colors.$col-papier,url(../MEDIA/texturepapier.webp);
    background-blend-mode:overlay;
    font-family: special;
    font-weight: bold;
    h1{
        font-size: 1.6em;
        text-transform: uppercase;
    }
}