@use "./colors.scss";
@use "./mixin";

.obligation {
    background: colors.$col-papier, url(../MEDIA/texturepapier.webp);
    background-blend-mode: overlay;
    font-family: special;
    font-weight: bold;
    padding: 0.5rem;

    header {
        padding: 0.5rem;
        border: solid;
        border-image-slice: 1;
        border-width: 0.2rem;
        border-image-source:linear-gradient(145deg, #191919, #1e1e1e);
        margin-bottom: 1rem;

        h1 {
            font-size: 1.6em;
            text-transform: uppercase;
            
        }

        .ariane {

            font-size: 0.65em;

            @include mixin.tablet {
                font-size: 1em;

            }

        }
    }
    main{
        padding: 0.5rem;
        border: solid;
        border-image-slice: 1;
        border-width: 0.2rem;
        border-image-source:linear-gradient(145deg, #191919, #1e1e1e);
        margin-bottom: 1rem; 
    }



}