@use "./colors.scss";
@use "./mixin";



/*  partie layout  */
.menuvideo {
    position: relative;
 

    

    &__section1 {
        position: absolute;
        width: 100%;
        left: 0;
    }



    &__section2 {
        position: absolute;
        width: 100%;
        left: 50%;

    }


}
.hexagone {
    filter: drop-shadow(0.5rem 0.5rem 0.1rem rgb(0, 0, 0));
    position: relative;
    max-width: 9rem;/*  Pour rendre responsive mettre width à 100%  */
    visibility: hidden;
    overflow: hidden;
    backdrop-filter: blur(0.1rem);
    border-radius: 25%;
   
  
    &:after {
      box-sizing: content-box;
      content: "";/*  Pour afficher du contenu vide */
      display: block;
      margin-top: 28.86751%;
      padding-bottom: 86.602%;
     
    }
    &:hover{
      filter: drop-shadow(0rem 0rem 0rem purple);
    }
  
  
  }
  
   .hexagonemain {
    display: block;
    position: absolute;
    width: 100%;
    padding-bottom: 115.47005%;
    overflow: hidden;
    visibility: hidden;
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    z-index: 1;
  
    &:before {
      content: "";/*  Pour afficher du contenu vide */
      display: block;
      position: absolute;
      visibility: visible;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background:rgb(255 255 255 / 25%);
      box-shadow: 
      
       inset 0.45rem 0rem 0.25rem -0.25rem #fff, 
        
       inset 0.25rem 0.25rem 0.5rem 0rem rgb(0 0 0 / 30%);
  
      transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  
  
    }
  
   
  
  }
  
   .hexagonecontent {
    overflow-y: auto;/* ne sert a rien pour l'instant */
    width: 100%;
    display: block;
    position: absolute;
    visibility: visible;
    bottom: 25%;
    top: 25%;
    left: 0;
    z-index: 3;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 1.9rem;
    font-size: 1.4em;
    text-shadow: 0.5rem 0.5rem 0.5rem black, 0 0 2rem purple, 0 0 1rem purple;
    color: white;
    &:hover{
      color: purple;
    }
  }