.bignuage {
    transform: scale(1.2);
    animation: 16s linear  infinite  movecloud;
}

.grosnuage {
    transform: scale(1);
    animation: 17s linear  infinite  movecloud;
}

.moyennuage {
    transform: scale(0.8);
    animation: 18s linear  infinite  movecloud;
}

.petitnuage {
    transform: scale(0.6);
    animation: 21s linear  infinite  movecloud;
}

.micronuage {
    transform: scale(0.4);
    animation: 24s linear  infinite  movecloud;
}

.modele {

    &__cloud {
        //position:absolute;
        left: 0;
        top: 1rem;
        width: 18rem;
        height: 12rem;
        background: rgb(255 255 255 / 45%);

        .weather--snow & {
            background: rgb(100 130 197 / 45%);
        }

        .weather--thunder & {
            background: rgb(116 116 116 / 45%);
        }

        .weather--rainbow & {
            background: #4a6676;
        }

        opacity: 1;
        backdrop-filter: blur(8px);
        clip-path: url(#cloud-path);
        box-shadow: inset 0rem -1.3rem 0.25rem -1rem #fff,
        inset 0rem 0rem 5rem 0rem #ffffff4d;

        &-reflect {
            height: 12rem;
            width: 11.9rem;
            border-radius: 50%;
            box-shadow: inset 0rem -1.1rem 0.25rem -1rem #fff, inset 0.45rem 0rem 0.25rem -0.25rem #fff, inset -0.45rem 0.5rem 0.25rem -0.45em #fff, inset 0.25rem 0.25rem 0.5rem 0rem rgb(0 0 0 / 30%);
            clip-path: polygon(0 0, 100% 0%, 100% 33%, 50% 30%, 50% 100%, 0% 100%);

            &--2 {
                position: absolute;
                width: 8.7rem;
                height: 8.7rem;
                bottom: 0.1rem;
                right: 0.5rem;
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%, 29% 0%);
            }
        }

        &-shadow {
            position: absolute;
            left: 30rem;
            top: -30rem;
            width: 18rem;
            height: 9rem;
            border-radius: 50%;
            box-shadow: -36rem 38rem 7rem #00000054;
            z-index: -1;
        }

        &-svg {
            clipPath {
                transform: scale(0.65);
            }
        }
    }
}
@keyframes movecloud { from { translate: 2048px; } to { translate: -30rem; }  }