.form{
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  0.5rem 0.5rem 0.5rem #5a5a5a,
                 -0.2rem -0.2rem 1rem #ffffff;
    width: 50%;
    
    padding: 1rem;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    position: absolute;
    top:20rem;
    left: 20vw;
    z-index: 1;

    select{
        padding: 0.5rem;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow:  0.5rem 0.5rem 0.5rem #5a5a5a,
                     -0.2rem -0.2rem 1rem #ffffff;
        margin: 0.5rem;
        border: transparent;
        border-radius: 0.5rem;
        
    }
    button{
        padding: 0.5rem;
        border: transparent;
        margin: 0.5rem;
        border-radius: 0.5rem;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow:  0.5rem 0.5rem 0.5rem #5a5a5a,
                     -0.2rem -0.2rem 1rem #ffffff;
        
    }

    


}