@use 'reset-css/sass/reset';


@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.css);






body {
  font-family: lexend;
  overflow-x: hidden;
  background:
    linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%),
    radial-gradient(at top left, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: screen;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 15rem;
}


.bubule__main {

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
}

.bubule__right-icon,
.bubule__right-vent,
.bubule__right-horloge {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.25rem;
}

.bubule__right-icon {
  display: flex;
  flex-direction: column;
  width: 6rem;
  height: 6rem;
  font-size: 1.5em;
  margin-left: -2rem;
  z-index: 3;
}


.bubule__right-vent {
  display: flex;
  flex-direction: column;
  width: 6rem;
  height: 6rem;
  font-size: 0.8em;
  margin-left: -1.5rem;
  margin-top: -1rem;
  z-index: 2;

  i {
    font-size: 3em;
  }
}

.bubule__right-horloge {
  width: 4rem;
  height: 4rem;
  font-size: 1em;
  margin-left: -3rem;
  margin-top: -1.5rem;
  z-index: 1;
}

footer {
  background-color: #fff;
  color: #222222;
  width: 80%;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
}